html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #589fc5;
  font-family: 'Poppins', sans-serif !important; /* Use 'Poppins' for overall font */
  color: #fff;
  background-color: #ffffff;
  

}
  
  a {
    text-decoration: none;
    color: inherit;
  }