* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #000;
}

/* Leadership section styles */
.leadership {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  /* Slightly off-white background for contrast */
  color: #333;
  /* Darker text for better readability */
  position: relative;
  z-index: 1;
}

.leadership .container-leadership {
  max-width: 1200px;
  margin: 0 auto;
}

.leadership h2 {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .leadership h2 {
    font-size: 2rem;
  }
}

.leadership .leadership-content {
  display: flex;
  justify-content: center;
  /* Center the content */
  align-items: flex-start;
  flex-wrap: wrap;
}

.founder {
  text-align: center;
  margin: 2rem;
  /* Increased margin for better spacing */
  width: calc(50% - 4rem);
  /* Adjust width to ensure proper spacing */
  position: relative;
}

.founder::before,
.founder::after {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(207, 207, 207, 0.127);
 
  z-index: 0;
}

.founder::after {
  background: rgba(135, 206, 235, 0.3);
  top: 10px;
  left: 10%;
}
.founder::before {
  right: 5%;
}
.founder-image-wrapper {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.314);
  /* Larger shadow for more depth */
  position: relative;
  z-index: 1;
}

.founder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.founder-description {
  margin-top: 1.5rem;
  /* Slightly larger margin */
  position: relative;
  z-index: 1;
}

.founder-description h3 {
  font-size: 1.8rem;
  /* Slightly larger font */
  margin-bottom: 0.5rem;
}

.founder-description p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
}

.founder-description a {
  color: #589fc5;
  font-weight: bold;
  text-decoration: none;
}

.founder-description a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .leadership {
    padding: 2rem 1rem;
  }

  .founder {
    width: 100%;
  }

  .founder::before,
  .founder::after {
    width: 160px;
    height: 160px;

  }
  .founder::after {
    left: 20%;
  }
  .founder::before {
    right: 15%;
  }
  .founder-image-wrapper {
    width: 150px;
    height: 150px;
  }

  .founder-description h3 {
    font-size: 1.5rem;
  }

  .founder-description p {
    font-size: 0.9rem;
  }
}
